In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import avar
import seaborn as sns
# %matplotlib notebook
%matplotlib qt

sns.set()
# plt.rcParams['mathtext.fontset'] = 'stix'
# plt.rcParams['font.family'] = 'STIXGeneral'

path = os.getcwd() + "\\crime_data"
csv_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.read_csv(csv_files[0])

C:\Users\Hossein_Haeri\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
df

,crime,number,date,day,location,beat,neighborhood,npu,lat,long
0,BURGLARY-NONRES,90010801.0,1/1/2009,39814,1020 DONALD LEE HOLLOWELL PKWY NW,106,Bankhead,K,33.77292,-84.42078
1,BURGLARY-RESIDENCE,83651892.0,1/1/2009,39814,2163 RIDGEDALE RD.,610,Kirkwood,O,33.75298,-84.31680
2,BURGLARY-RESIDENCE,83662023.0,1/1/2009,39814,800 W. MARIETTA ST,103,English Avenue,L,33.78022,-84.41514
3,AGG ASSAULT,83662137.0,1/1/2009,39814,625 JOSEPH E LOWERY,104,Ashview Heights,T,33.74865,-84.41763
4,BURGLARY-RESIDENCE,90010061.0,1/1/2009,39814,501 TUFTON TRL SE,312,Glenrose Heights,Z,33.66477,-84.38430
...,...,...,...,...,...,...,...,...,...,...
270683,AGG ASSAULT,170593064.0,2/28/2017,42794,425 CHAPEL ST SW,507,Castleberry Hill,M,33.75285,-84.40152
270684,LARCENY-NON VEHICLE,170593149.0,2/28/2017,42794,2151 LENOX RD NE,213,Lindridge/Martin Manor,F,33.81356,-84.35129
270685,AGG ASSAULT,170593210.0,2/28/2017,42794,499 NORTHSIDE CIR NW,207,Loring Heights,E,33.79742,-84.40671
270686,AUTO THEFT,170593240.0,2/28/2017,42794,1749 EMERALD AVE SW,404,Westview,T,33.74232,-84.44505
270687,LARCENY-FROM VEHICLE,170593272.0,2/28/2017,42794,2591 PIEDMONT RD NE,211,Lindbergh/Morosgo,B,33.82494,-84.36684

In [62]:
# for i, row in data.iterrows():

# plt.scatter(data['long'],data['lat'],marker='.',s=5,color=)
fig, axes = plt.subplots(1, 2)
# 39627(last2009) 75397(last2010)    237550(last2015)  266682(last2016)
D = df.loc[39627:75397,:]
sns.scatterplot(x='long', y='lat', data=D, hue='crime', ax=axes[0], s=10, legend=False)
axes[0].set_title('1/1/2010 - 12/31/2010')
axes[0].axis('equal')



D = df.loc[237550:266682,:]
sns.scatterplot(x='long', y='lat', data=D, hue='crime', ax=axes[1], s=10, legend=True,alpha=0)
axes[1].set_title('1/1/2016 - 12/31/2016')
axes[1].axis('equal')
# plt.legend(loc="upper center", bbox_to_anchor=(0.5, 1.15), ncol=2)
# i = 39814
# k = 30
# while i+k<len(df):
#     D = df.loc[i:i+k,:]
#     sns.lmplot('long', 'lat', data=D, hue='crime', fit_reg=False, scatter_kws={"s": 1})
#     plt.show()
#     plt.pause(0.1)
#     i = i+k

(-84.563504, -84.277416, 33.614915, 33.897065000000005)